#sectionhome{
    background-color:grey;
    background-size: cover;
    height: fit-content;
    width: fit-content;
}
.popularbook-head {
    color: white;
    font-size: 25px;
    font-family: Bree Serif;
    font-weight:bolder;
}

.bghome {
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.wingsoffire-homecontainer {
    border-radius: 15px;
    margin: 10px;
    height: 30vh;
    width: 100vw;
}

.AK-imghome {
    height: 30vh;
    width: 25vw;
}

.wingsoffire-homedescription {
    color: white;
    background-color: #e6f6;
    font-family: Bree Serif;
    height: 30vh;
    width: 70vw;
    padding: 5px;
}

.wingsoffire-homecontainer-head {
    color: white;
    font-size: 15px;
}

.wingsoffire-homecontainer-para1 {
    color: #183b56;
    font-size: 10px;
    font-weight: bold;
}

.wingsoffire-homecontainer-para2 {
    color: blue;
    font-size: 8px;
}

.homecontainer-button {
    border-radius: 5px;
    height: 25px;
    font-size: 10px;
}

.Recommendedbook-head {
    color: white;
    font-size: 20px;
}

.Recommendedbooks-container {
    height: 20vh;
    width: 100vh;
    padding: 10px;
    margin: 5px;
}

.CB-imghome {
    height: 20vh;
    width: 20vw;
}

.Recommendedbooks-homedescription {
    color: white;
    height: 20vh;
    width: 80vh;
    padding: 5px;
}

.homecontainer-head {
    font-size: 10px;
}

.homecontainer-paragraph {
    font-size: 8px;
}

.homecontainer-button1 {
    border-radius: 5px;
    height: 25px;
    width: 15vw;
    font-size: 10px;
}

.bg-detail {
    background-color: #1b1b1b;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    color: white;
    font-family: Bree Serif;
    text-align: center;
}

.AK-imgdetail {
    height: 50vh;
    width: 30vw;
}

.wingsoffire-detail-head {
    font-family: Bree Serif;
    font-size: 20px;
}

.wingsoffire-detail-para1 {
    font-size: 10px;
    color: #183b56;
}

.wingsoffire-detail-para2 {
    font-size: 12px;
    color: white;
}
}